<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.provider8001.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.zhang.provider8001.entity.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="deptno" jdbcType="BIGINT" property="deptno" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="db_source" jdbcType="VARCHAR" property="dbSource" />
  </resultMap>
</mapper>